@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
    width: 100%;
    font-family: "Syne Mono", monospace;
    background-color: #01012b;
}
